
<div class="header" id="demo">


	<div class="topcn" style="font:20px/18px 'microsoft yahei'; color:#0FF;text-align:center;">


		<!--用来解决视频右键菜单，用于视频上面的遮罩层 START-->
		<div class="videozz"></div>
		<!--用来解决视频右键菜单，用于视频上面的遮罩层 END-->

		<!--音乐 START-->
	<audio controls="true" autoplay="autoplay" class="audio">
        <source src="Music.mp3" type="audio/mp3">
        <source src="Music.ogg" type="audio/ogg">
        <source src="Music.aac" type="audio/mp4">
    </audio>
<!--音乐 END-->




		<div class="col-md-12">
		   <div class="row box" >
		     <div class="box-inner col-md-4 col-md-offset-4">


					 <h1 class="title">MISC</h1>
		       <p class="slogan">
		         我们的目标是星辰大海
		        <br>
		       </p>
		       	<p class="lead">
		         <a href="jobs#index" class="a_demo_four" >  Come on, don't be afraid  </a>
						<br>
						</p>
					</div>
				</div>
		</div>
	</div>

  <canvas id="canvas"></canvas>




			<h3 align="center"><font color="gray">
				<hr style="height:1px;width:500px;border:none;border-top:2px solid #7B7B7B;" />
					<a href="#ct1"><%= image_tag 'down.png',size:'90x50'%></a></h3></font>

	<%= image_tag 'boot.jpg', class: 'img-responsive '  %>
	<br>
	<br>
	        <div class="col-sm-6 col-md-3 col-xs-offset-1" >
						<br>
	           <div class="rounded" >
	         <%= image_tag 'pic-1.jpg', class: 'img-responsive img-rounded',size:'350x250' %>

	             <h2 align="center">地面机动部队</h2>
	             <p><span class="glyphicon glyphicon-chevron-right">协助工程部队进行星球驻扎工作;</span>
	             <br><span class="glyphicon glyphicon-chevron-right">清扫前进障碍、警戒、巡逻、安防设施布置;</span>
	             <br><span class="glyphicon glyphicon-chevron-right">抵抗一切外界针对的军事行为;</span>
	             <br><span class="glyphicon glyphicon-chevron-right">维护基地的生存安全;</p></span>
	           </div>
	        </div>

	      <div class="col-sm-8 col-md-4">
	         <div class="rounded">
	           <%= image_tag 'pic-2.jpg', class: 'img-responsive img-rounded' %>
	           <h2 align="center">随行护卫舰队</h2>
	           <p><span class="glyphicon glyphicon-chevron-right">护卫主舰进行空间跳跃;</span>
	           <br><span class="glyphicon glyphicon-chevron-right">到达指定殖民行星，进行外空封锁警戒;</span>
	           <br><span class="glyphicon glyphicon-chevron-right">在控制域内进行巡逻、守护、安全检查、报警监控;</span>
	           <br><span class="glyphicon glyphicon-chevron-right">对基地内人员进行安全检查，维护公共秩序;</span>
	         </div>
	      </div>





	      <div class="col-sm-6 col-md-3">
					<br>
	         <div id="ct1" class="rounded">
	           <%= image_tag 'pic-3.jpg', class: 'img-responsive img-rounded' , size:'350x250' %>
	          <h2 align="center">建设工程部队</h2>
	          <p><span class="glyphicon glyphicon-chevron-right">对新殖民星的开发进行准备工作;</span>
	          <br><span class="glyphicon glyphicon-chevron-right">提交开发行星预案、报备、机械调度;</span>
	          <br><span class="glyphicon glyphicon-chevron-right">建造实验室、研发基地以及各类生活必备据点;</span>
	          <br><span class="glyphicon glyphicon-chevron-right">探索行星进行考古，解码殖民星文明工程技术;</span>
	         </div>
				 </div>
</div>







<script>
//宇宙特效
"use strict";
var canvas = document.getElementById('canvas'),
  ctx = canvas.getContext('2d'),
  w = canvas.width = window.innerWidth,
  h = canvas.height = window.innerHeight,

  hue = 217,
  stars = [],
  count = 0,
  maxStars = 1300;//星星数量

var canvas2 = document.createElement('canvas'),
  ctx2 = canvas2.getContext('2d');
canvas2.width = 100;
canvas2.height = 100;
var half = canvas2.width / 2,
  gradient2 = ctx2.createRadialGradient(half, half, 0, half, half, half);
gradient2.addColorStop(0.025, '#CCC');
gradient2.addColorStop(0.1, 'hsl(' + hue + ', 61%, 33%)');
gradient2.addColorStop(0.25, 'hsl(' + hue + ', 64%, 6%)');
gradient2.addColorStop(1, 'transparent');

ctx2.fillStyle = gradient2;
ctx2.beginPath();
ctx2.arc(half, half, half, 0, Math.PI * 2);
ctx2.fill();

// End cache

function random(min, max) {
  if (arguments.length < 2) {
    max = min;
    min = 0;
  }

  if (min > max) {
    var hold = max;
    max = min;
    min = hold;
  }

  return Math.floor(Math.random() * (max - min + 1)) + min;
}

function maxOrbit(x, y) {
  var max = Math.max(x, y),
    diameter = Math.round(Math.sqrt(max * max + max * max));
  return diameter / 2;
  //星星移动范围，值越大范围越小，
}

var Star = function() {

  this.orbitRadius = random(maxOrbit(w, h));
  this.radius = random(60, this.orbitRadius) / 8;
  //星星大小
  this.orbitX = w / 2;
  this.orbitY = h / 2;
  this.timePassed = random(0, maxStars);
  this.speed = random(this.orbitRadius) / 100000;
  //星星移动速度
  this.alpha = random(2, 10) / 10;

  count++;
  stars[count] = this;
}

Star.prototype.draw = function() {
  var x = Math.sin(this.timePassed) * this.orbitRadius + this.orbitX,
    y = Math.cos(this.timePassed) * this.orbitRadius + this.orbitY,
    twinkle = random(10);

  if (twinkle === 1 && this.alpha > 0) {
    this.alpha -= 0.05;
  } else if (twinkle === 2 && this.alpha < 1) {
    this.alpha += 0.05;
  }

  ctx.globalAlpha = this.alpha;
  ctx.drawImage(canvas2, x - this.radius / 2, y - this.radius / 2, this.radius, this.radius);
  this.timePassed += this.speed;
}

for (var i = 0; i < maxStars; i++) {
  new Star();
}

function animation() {
  ctx.globalCompositeOperation = 'source-over';
  ctx.globalAlpha = 0.5; //尾巴
  ctx.fillStyle = 'hsla(' + hue + ', 64%, 6%, 2)';
  ctx.fillRect(0, 0, w, h)

  ctx.globalCompositeOperation = 'lighter';
  for (var i = 1, l = stars.length; i < l; i++) {
    stars[i].draw();
  };

  window.requestAnimationFrame(animation);
}

animation();
</script>
