<div class="col-md-12">
   <div class="row box">
     <div class="box-inner col-md-4 col-md-offset-4">
       <h1 class="title">MetSo</h1>
       <p class="slogan">
         我们的目标是星辰大海。
        <br>
         </p>

      <script type="text/javascript" src="../top.js"></script>

       <p class="lead">
         <%= link_to '马上应征', jobs_path, class: 'btn btn-danger' %>
       </p>
     </div>
   </div>
 </div>


 <div class="content-section-a">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-sm-6">
          <hr class="section-heading-spacer">
          <div class="clearfix"></div>
          <h2 class="section-heading">地面机动部队</h2>
          <p class="lead">协助工程部队进行星球驻扎工作;
                      <br>清扫前进障碍、警戒、巡逻、安防设施布置;
                      <br>抵抗一切外界针对的军事行为;
                      <br>维护基地的生存安全;</p>
           <%= link_to '马上应征', jobs_path, class: 'btn btn-danger' %>
        </div>
        <div class="col-lg-5 col-lg-offset-2 col-sm-6">
          <%= image_tag 'pic-1.jpg', class: 'img-responsive img-rounded' %>
        </div>
      </div>
    </div>
  </div>

  <div class="content-section-b">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
          <hr class="section-heading-spacer">
          <div class="clearfix"></div>
          <h2 class="section-heading">护卫舰队</h2>
          <p class="lead">护卫主舰进行空间跳跃;
                        <br>到达指定殖民行星，进行外空封锁警戒;
                        <br>在控制域内进行巡逻、守护、安全检查、报警监控;
                        <br>对基地内人员进行安全检查，维护公共秩序;
        </div>
        <div class="col-lg-6 col-sm-pull-6  col-sm-6">
          <%= image_tag 'pic-2.jpg', class: 'img-responsive img-circle' %>
        </div>
      </div>
    </div>
  </div>
  <div class="content-section-a">
   <div class="container">
     <div class="row">
       <div class="col-lg-5 col-sm-6">
         <hr class="section-heading-spacer">
         <div class="clearfix"></div>
         <h2 class="section-heading">工程部队</h2>
         <p class="lead">对新殖民星的开发进行准备工作;
                        <br>提交开发行星预案、报备、机械调度;
                        <br>建造实验室、研发基地以及各类生活必备据点;
                        <br>探索行星进行考古，解码殖民星文明工程技术;
       </div>
       <div class="col-lg-5 col-lg-offset-2 col-sm-6">
         <%= image_tag 'pic-3.jpg', class: 'img-responsive img-rounded' %>
       </div>
     </div>
   </div>
 </div>
